<div class="seat-cont">
    <div class="seat-form-info">
        <div class="seat-title">
            <h2 style="color: #333;">Passangers info</h2>
        </div>
        <div class="inputs">
            <input id="fname" type="text" name="psName" placeholder="First name">
            <input id="lname" type="text" name="psLname" placeholder="Last name">
            <input id="ssn" type="text" name="psSSN" placeholder="SS number">
            <input id="email" type="text" name="psEmail" placeholder="Email address">
            <input id="seatno" type="text" name="psSeatno" placeholder="Seat number">
            <input id="flightno" type="text" name="psFlightno" placeholder="flight number">
            <input id="price" type="text" name="psPrice" placeholder="price">
        </div>

        
    </div>
    <div class="seat-item">
    
        <div id="listOfSeats">
            <% if(info){ %> 
                <% for(let i = 0; i < info.rows.length; i++){ %>
                    <h3 style="margin: 0; color: #333;">Business seats:</h3>
                    <div class="business-seats">
                        <% if(info.rows[i].p_seat_economy % 6 == 0){ %>
                            <% for(let erow = 0; erow < info.rows[i].p_seat_economy / 6; erow++){ %>
                                <% for(let ecol = 0; ecol < 6; ecol++){ %>
                                    
                                    <a class="scel" id="E<%= erow %><%= ecol %>" onclick="pickMe(this)"> B<%= erow %><%= ecol %> </a> 
                            
                                <%}%>
                            <%}%>
                        <%}%>
                    </div>
                    <h3 style="margin: 0; color: #333;">Economy seats:</h3>

                    <div class="economy-seats">
                        <% if(info.rows[i].p_seat_business % 6 == 0){ %>
                            <% for(let erow = 0; erow < info.rows[i].p_seat_business / 6; erow++){ %>
                                <% for(let ecol = 0; ecol < 6; ecol++){ %>
                                
                                    <a class="scel" id="B<%= erow %><%= ecol %>" onclick="pickMe(this)"> B<%= erow %><%= ecol %> </a>

                                <%}%>
                            <%}%>
                        <%}%>
                    </div>
                    
                <%}%>
             <%} else{%>
                <p>No seats ss</p>
             <%}%>
        </div>
    </div>
</div>
<script>
    
    $( document ).ready(function() {
        console.log("ready");
    });
    function pickMe(e){
        var sbtns = $('[class^="scel"]');
        for(let i = 0; i < sbtns.length; i++){
            sbtns[i].style.cssText = "background: white"
        }
        $("#seatno").val(e.innerText)
        e.style.cssText = "background: #ff9000"
        console.log(e.innerText)
    }
</script>

<style>
    .scel{
        cursor: pointer;
        padding: 0.5rem;
        margin: 5px;
        width: 40px;
        height: 40px;
        background: white;
        color: white;
        border-radius: 5px;
        text-align: center;
        transition: 0.2s;

    }
    .scel:hover, .scel:focus{
        background-color: #ff9000;
        transition: 0.2s;
    }
    .seat-cont{
        width: 100%;
        height: 60vh;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: top;
        padding: 1rem;
        gap: 1rem;
    }

    .seat-cont .seat-form-info{
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: left;
        gap: 1rem;
        flex: 1;
        width: 100%;
        padding: 1rem;
    }

    .seat-cont .seat-form-info .seat-title, .seat-item .seat-item-title {
        color: #999;
    }

    .seat-cont .seat-form-info .inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
    .seat-cont .seat-form-info .inputs input{
        background-color: white;
        border: 1px solid #9999;
        padding: 0.5rem 1rem;
        border-radius: 4px;

    }
    
    .seat-cont .seat-item{
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        padding: 1rem;
    }
    
    .seat-cont .seat-item #listOfSeats{
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        position: relative;
        overflow: scroll;
        padding: 1rem;
        gap: 1rem;
        justify-content: top;
        align-items: center;
    }

    .seat-cont .seat-item #listOfSeats .business-seats{
        flex: 1;
        display: grid;
        border-radius: 5px;
        background: #eee;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    }
    
    .seat-cont .seat-item #listOfSeats .economy-seats{
        flex: 2;
        border-radius: 5px;
        display: grid;
        background: #eee;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
    }


</style>

<script>



</script>